
@media (min-width: 576px) { 


    
 }


@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
      .hard-text {
          width: 50%;
      }
      .hard-text h5 {
          font-size: 3rem;
      }
      .hard-img {
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
      }
      .split {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      } 
      .product-div {
        width: 32%;
      }
      
 }


@media (min-width: 992px) { 
    .rounded-lg-3 { border-radius: .3rem; }

    .hard-img {
        width: 40%;
      }
 
}


@media (min-width: 1200px) { 

}


@media (min-width: 1400px) { 

 }
 @media (min-width: 1680px) {

 }