/* Defaults  */
body {
  font-family:sans-serif;
}
h1 {
  margin: 20px 0;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.5rem;
  color: white;
}
h4 {
  font-size: 2rem;
  line-height: 1.3;
}
h5 {
  color: white;
  font-size: 1.5rem;
}
p {
  margin: 30px 0;
  line-height: 1.3;
}
section {
  padding: 50px 0;
}

/* header */
header {
  background-color: #212529;
  padding: 20px 0;
}
.nav-link{
  color: white;
  font-size: 1.2rem;
}
/*  */
.fixed {
  position: fixed;
  top: 100px;
  right: 0;
  z-index: 5;
}
.notyet {
  margin: 0 15px;
  padding: 5px;
  font-size: 1.5rem;  
  color: red;
  text-align: right;
  animation: neon 2s infinite;
}
@keyframes neon {
  100% {
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 2px 2px 2px rgba(206,89,55,0);
  }
}
/* HEADER  */
.dropbtn {
  padding: .5rem 1rem;
  border: none;
  color: white;
  font-size: 1.2rem;
  background-color: transparent;
  
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #213242;
  min-width: 240px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding:10px 20px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #9BAEC2;border-radius: 5px;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #213242;}
/* HERO */
.hero-bg {
  background-image: url(../img/header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  
}
/*  */
.service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.service div {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 45%;

}
.service img {
  max-width: 80px;
  width: 100%;
}
.service h2 {
  margin: 25px 0;
  line-height: 1.3;
  font-size: 1rem;
}
.service a {
  padding: 10px 20px ;
  background-color: #212529;
  color: white;
  border-radius: 4px;
  transition: all 0.25s ease;
}
.service a:hover{
  background-color: #6e7377;
}
/* ------- */
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/* Features  */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

/*  */



/* ------- */
.hardware {
  padding: 50px 0 250px 50px ;
}
.hard-img img {
  width: 100%;
}

/* PRODUCTS  */
.bg1 {
  background-image: url(../img/product/fortinet.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg2 {
  background-image: url(../img/product/cisco1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg3 {
  background-image: url(../img/product/ARUBAjpg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.product {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}
.product-div {
  max-width: 35ch;
  padding: 10rem 0 0 0;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 500ms ease;
}
.product-text > *:not(.product-text h4){
  opacity: 0;
  transition:  opacity 400ms ease
}
.product-text {
  color: #fff;
  --padding:1.5rem;
  height: 269px;
  padding: var(--padding);
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 30%, rgba(0,0,0,0.2805497198879552) 100%);
  transform: translateY(65%);
  transition: transform 500ms ease;
  transition-delay: 400ms;
}
.product-text h4 {
  font-size: 1.5em;
  position: relative;
  width: max-content;

}
.product-text h4::after {
  content: "";
  position: absolute;
  left: calc(var(--padding)* -1);
  bottom: -4px;
  height: 4px;
  width: calc(100% + var(--padding));
  background-color: #13ffd8!important;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 400ms ease;
}
.product-text p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.842);
}
@media (hover){
  .product-div:hover,
  .product-div:focus{
    transform: scale(1.025);
  }
  .product-div:hover .product-text > *:not(.product-text h4),
  .product-div:focus-within.product-text > *:not(.product-text h4) {
    opacity: 1;
    transition-delay:800ms;
  }
  .product-div:hover .product-text h4::after {
    transform: scaleX(1)

  }
  .product-div:hover .product-,
  .product-div:focus-within .product-text {
    transform: translateY(0);
    transition-delay: 400ms;
  }
  .product-div:focus-within .product-text {
  transition-duration: 0ms;
  }



  .product-div:hover .product-text h4::after,
  .product-div:focus-within .product-text h4::after {
    transform: scaleX(1)

  }
  .product-div:hover .product-text {
    transform: translateY(0);
    transition-delay: 400ms;
  }
}

/* Footer */
footer {
  background-color: #212529;
  padding: 50px 0;
}
.logo2 {
  text-align: center;
  font-size: 3rem;
}
.logo2 a {
  color: white;
  text-transform: uppercase;
}
.logo2 span {
  background-color: white;
  color: black;
  text-transform:capitalize;
  padding: 0 5px;
}
.link-dark {
  color: white;
}
/* ---------- */
.left-side {
  max-width: 270px;
  width: 100%;
}
.left-side li {
  padding: 10px 20px;
  border-bottom: solid 1px black;
  border-radius: 5px;
  
}
.left-side a {
  color: #000;
}
.left-side li:hover{
  background-color: #9BAEC2;
}
/* -- */
.network {
  max-width: 850px;
  width: 100%;
}
.network ,.network ul {
  padding: 30px 15px;
}
.network h2 {
  font-size: 2rem;
}
.network li {
  margin: 15px 0;
  color: #212529;
  list-style-type: square;
  list-style: inside;
  line-height: 1.2;
}
/* Program */

.service-img {
  width: 80%;
  margin: 0 auto;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
/*  */
.camera {
  margin-top: 50px;

  padding: 100px 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.camera-img {
  width: 30%;
}




/*  */
