/* Defaults  */
h1 {
  margin: 20px 0;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.5rem;
  color: white;
}
h5 {
  font-size: 2rem;
  line-height: 1.3;
}
p {
  margin: 30px 0;
  line-height: 1.3;
}
section {
  padding: 50px 0;
}

/* header */
header {
  background-color: #212529;
  padding: 20px 0;
}
.nav-link{
  color: white;
  font-size: 1.2rem;
}
/*  */
.notyet {
  margin: 0 15px;
  padding: 5px;
  font-size: 1.5rem;  
  color: red;
  text-align: right;
}
/* HEADER  */
.dropbtn {
  padding: .5rem 1rem;
  border: none;
  color: white;
  font-size: 1.2rem;
  background-color: transparent;
  
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #213242;
  min-width: 240px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding:10px 20px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #9BAEC2;border-radius: 5px;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #213242;}
/* HERO */
.hero-bg {
  background-image: url(../img/header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  
}
/*  */
.service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.service div {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 45%;

}
.service img {
  max-width: 80px;
  width: 100%;
}
.service h2 {
  margin: 25px 0;
  line-height: 1.3;
  font-size: 1rem;
}
.service a {
  padding: 10px 20px ;
  background-color: #212529;
  color: white;
  border-radius: 4px;
  transition: all 0.25s ease;
}
.service a:hover{
  background-color: #6e7377;
}
/* ------- */
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/* Features  */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

/*  */



/* ------- */
.hardware {
  padding: 50px 0 250px 50px ;
}
.hard-img img {
  width: 100%;
}

/*  */
.product-div {
  width: 95%;
  background-color: gray;
  height: 10rem;
  text-align: center;
  padding: 150px 0 ;
  color: white;
  border-radius: 15px;
  transition: all ease 1s;
}
.product-div:hover .product-text{
 display: block;
 transition: all ease 1s;
 cursor: pointer;
}

.bg1 {
  background-image: url(../img/fortinet.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bg2 {
  background-image: url(../img/cisco1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bg3 {
  background-image: url(../img/ARUBAjpg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.product-text {
  background-color: #212529f6;
  padding: 150px 0 ;
  height: 10rem;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 15px;
  display: none;
  transition: all ease 1s;
}
.product-text h4 {
  font-size: 2rem;
}

/* Footer */
footer {
  background-color: #212529;
  padding: 50px 0;
}
.logo2 {
  text-align: center;
  font-size: 3rem;
}
.logo2 a {
  color: white;
  text-transform: uppercase;
}
.logo2 span {
  background-color: white;
  color: black;
  text-transform:capitalize;
  padding: 0 5px;
}

/* ---------- */
/* -- */
.network ,.network ul {
  padding: 30px 15px;
}
.network h2 {
  font-size: 2rem;
}
.network li {
  margin: 15px 0;
  color: #212529;
  list-style-type: square;
  list-style: inside;
  line-height: 1.2;
}
/* Program */

.service-img {
  width: 100%;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
/*  */
.camera {
  margin-top: 50px;

  padding: 100px 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.camera-img {
  width: 30%;
}




/*  */
